
#capa{
    max-width:1080px;
    margin:0 auto;   
}

p{
    background-color:  #8dced2;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 30;
    max-width:1080px;
    margin:0 auto; 
}

li{
    max-width:1080px;
    margin:0 auto; 
    padding-top:20px;
}

a{
    color: black;
    text-decoration: unset;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18;
}

#rodape{
    max-width:1080px;
    margin:0 auto; 
    padding-top:20px;
}

h3{
    text-align: center;
}